.profilBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 200px;
	left: 50%;
	width: 50%;
	height: 200px;
	transform: translate(-50%);
	background-color: var(--backgroundSecond-color);
	border-radius: 25px;
	box-shadow: var(--box-shadow)
}


.infoBox {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2em 4em;
}
.name {
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 0.2em;
	color: var(--text-color);
}
.detail {
	font-size: 1.5em;
	color: var(--smallText-color);
}

.socialMediaBox {
	display: flex;
	width: 100%;
	font-size: 2em;
	padding-top: 0.5em;
}
.socialMediaBox p a {
	margin-right: 10px;
	cursor: pointer;
	color: var(--icone-background);
}
.imgBox {
	background-color: bisque;
}
.fb {
	
	transition: color 0.3s;
}
.fb:hover {
	color: #385898;
}
.ig {
	transition: color 0.3s;
}
.ig:hover {
	color: #9e3476;
}
.li {
	transition: color 0.3s;
}
.li:hover {
	color: #1f4591;
}

.imgBox {
	position: absolute;
	right: -20px;
	top: -30px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 1023px) {
	.profilBox {
		position: relative;
		top: 150px;
		left: 50%;
		width: 90%;
		transform: translate(-50%);
	}
	.imgBox {
		position: absolute;
		left: 50%;
		top: 80%;
		transform: translate(-50%);
	}

	.infoBox {
		top: 0;
		left: 0;
		padding: 2em 2em;
	}
}
