*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--text-color);
}
:root {
	--text-color: #2ebdbd;
	--smallText-color: #f9f9f9;
	--backgroundFirst-color: #eeeeee;
	--backgroundSecond-color: #353333;
	--navBacground: #222831e8;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: var(--backgroundFirst-color);
	margin: 0;
	padding: 0;
}

body.light {
	--text-color: #2ebdbd;
	--smallText-color: #eeeeee;
	--backgroundFirst-color: #eeeeee;
	--backgroundSecond-color: #222831;
	--navBacground: #222831e8;
}

body.dark {
	--text-color: #25ad47;
	--smallText-color: #f0f5f9;
	--backgroundFirst-color: rgb(20, 20, 20);
	--backgroundSecond-color: #474645;
	--navBacground: #474645c4;
}
